# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# firefox profile
/firefox-test-profile/cookies.sqlite
/firefox-test-profile/cookies.sqlite-wal
/firefox-test-profile/favicons.sqlite-wal
/firefox-test-profile/logins.json
/firefox-test-profile/places.sqlite-wal
/firefox-test-profile/prefs.js
/firefox-test-profile/storage/
/firefox-test-profile/datareporting/
/firefox-test-profile/webappsstore.sqlite
/firefox-test-profile/webappsstore.sqlite-wal
/firefox-test-profile/weave/
/firefox-test-profile/addonStartup.json.lz4
/firefox-test-profile/favicons.sqlite
/firefox-test-profile/permissions.sqlite
/firefox-test-profile/places.sqlite
/firefox-test-profile/protections.sqlite
/firefox-test-profile/search.json.mozlz4
/firefox-test-profile/serviceworker.txt
/firefox-test-profile/sessionCheckpoints.json
/firefox-test-profile/SiteSecurityServiceState.txt
/firefox-test-profile/storage-sync.sqlite
/firefox-test-profile/storage.sqlite
/firefox-test-profile/bookmarkbackups
/firefox-test-profile/saved-telemetry-pings
/firefox-test-profile/sessionstore.jsonlz4
/firefox-test-profile/addons.json
/firefox-test-profile/AlternateServices.txt
/firefox-test-profile/content-prefs.sqlite
/firefox-test-profile/extensions.json
/firefox-test-profile/formhistory.sqlite
/firefox-test-profile/xulstore.json


















